# vim: ft=sh
GRAYLOG_NODE_ID_FILE={{ .DataDir }}/node-id
# Required to pass the pre-flight check for the Enterprise binaries.
GRAYLOG_BIN_DIR=../graylog-project-repos/graylog-plugin-enterprise/enterprise/bin
GRAYLOG_DATA_DIR={{ .DataDir }}
GRAYLOG_MESSAGE_JOURNAL_DIR={{ .DataDir }}/journal
GRAYLOG_PASSWORD_SECRET={{ .PasswordSecret }}
GRAYLOG_ROOT_PASSWORD_SHA2={{ .RootPasswordHash }}
GRAYLOG_HTTP_BIND_ADDRESS=127.0.0.1:{{ add 9000 .PortOffset }}
GRAYLOG_IS_LEADER={{ .IsLeaderNode }}
#GRAYLOG_LEADER_ELECTION_MODE=automatic
GRAYLOG_LB_RECOGNITION_PERIOD_SECONDS=0
GRAYLOG_VERSIONCHECKS=false
GRAYLOG_TELEMETRY_ENABLED=false

GRAYLOG_MONGODB_URI=mongodb://127.0.0.1:27017/graylog
#GRAYLOG_ELASTICSEARCH_HOSTS=http://127.0.0.1:9200,http://127.0.0.1:9201
